<%= form_with(model: registered_talk, local: true) do |form| %>
  <% if registered_talk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(registered_talk.errors.count, "error") %> prohibited this registered_talk from being saved:</h2>

      <ul>
        <% registered_talk.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :speaker_id %>
    <%= form.text_field :speaker_id %>
  </div>

  <div class="field">
    <%= form.label :talk_id %>
    <%= form.number_field :talk_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
