<p id="notice"><%= notice %></p>

<p>
  <strong>Profile:</strong>
  <%= @registered_talk.speaker_id %>
</p>

<p>
  <strong>Talk:</strong>
  <%= @registered_talk.talk_id %>
</p>

<%= link_to 'Edit', edit_registered_talk_path(@registered_talk) %> |
<%= link_to 'Back', registered_talks_path %>
