<h1><%= @conference.name %></h1>

<% if logged_in? && registered? %>
  Welcome, <%= @speaker.name %>

  <%= link_to 'Edit Profile', edit_speaker_path(id: @speaker.id) %>
<% end %>

<% unless @current_user %>
  <%= button_to '参加申し込み / ログイン', '/auth/auth0', {method: :post, class: "btn btn-primary btn-xl inline" } %>
<% end %>
<%= button_to 'Logout', '/logout', {method: :get, class: "btn btn-primary btn-xl inline" } %>
